div {
	box-sizing: border-box;
	border: 1px solid #000000;
	width: 100px;
	height: 100px;
	margin: 2%;
	padding: 2%;
	display: inline-block;
	transition: 2s ease;
}

div:focus {
	background-color: #FFFF00;
}

div:hover {
	width: 200px;
	background-color: #800040;
}

.animate {
	background: #92B901;
	transition-property: width, height, transform;
	transition-duration: 1s, 1s, 1s;
}
.animate:hover {
	transform: rotate(360deg);
	opacity: 1;
}
